<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <img src="https://image.flaticon.com/icons/svg/194/194924.svg" style="width: 50px;margin-left: 3% ;margin-right: 2%">
  <a class="navbar-brand" href="home"><b>Nurse App</b></a>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav" style="margin-right: 200px">
      <li class="nav-item">
        <a class="nav-link" href="home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="patient">Patient</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="visit">Visit</a>
      </li>
    </ul>
  </div>
</nav>