<div class="container" style="padding-bottom:5%;padding-top: 30px;">
  <h2>Patients</h2>
  <div class="card border-primary mb-3" style="max-width: 90%;">
    <div class="card-header">
      <div class="btn-group" role="group">
        <button class="btn btn-primary btn-sm" type="button" routerLink="/patients-form/create"> Create </button>
        <button *ngIf="(selectedRow)" class="btn btn-success btn-sm" type="button"
          routerLink="/patients-form/edit/{{selectedRow.pacientId}}">
          Edit </button>
        <button *ngIf="(selectedRow)" class="btn btn-danger btn-sm" type="button" (click)="delete()"> Delete </button>
        <button *ngIf="(selectedRow)" class="btn btn-secondary btn-sm" type="button"
          routerLink="/patients-status/{{selectedRow.pacientId}}"> Status </button>
      </div>
    </div>
    <div class="card-body text-primary">
      <ag-grid-angular style="width: 100%; height: 500px;" class="ag-theme-balham" [rowData]="rowData"
        [columnDefs]="columnDefs" (rowSelected)="onRowSelected($event)">
      </ag-grid-angular>
    </div>
  </div>
</div>